<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Url Shortner</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="static/css/materialize.min.css">
        <link rel="stylesheet" href="static/css/main.css">
        <script src='https://www.google.com/recaptcha/api.js'></script>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper green">
              <a href="/" class="brand-logo">Url Shortner</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="https://github.com/haisum/urlshortner">Source Code</a></li>
                <li><a href="http://godoc.org/github.com/haisum/urlshortner">Documentation</a></li>
              </ul>
            </div>
        </nav>
        <div class="row">
            <div class="col  s12">
                <h2>Shorten Url</h2>
                <hr>
                <div class="row">
                    <div class="col m6">
                        <div class="row">
                              <form id="shorten-form" class="col s12" method="post" action="/shorten">
                                  <div class="row">
                                      <div class="input-field col s12">
                                          <i class="mdi-content-content-paste prefix"></i>
                                          <input placeholder="Long Url" name="url" id="url" type="text" class="validate">
                                          <label for="url">Paste your long URL here</label>
                                          <div class="input-field col s12">
                                            <div class="g-recaptcha" data-sitekey="6LdRlAcTAAAAACs6d57q7LlH1JRx26293WE568xv"></div>
                                          </div>
                                          <div class="input-field col s12 right-align">
                                            <button class="btn waves-effect waves-light" type="submit" name="action">Shorten Url
                                              <i class="mdi-content-send right"></i>
                                            </button>
                                          </div>
                                       </div>
                                   </div>
                              </form>
                        </div>
                    </div>
                    <div class="col m6">
                        <div class="row">
                            <div class="input-field col s12">
                              <i class="mdi-content-content-copy prefix"></i>
                              <input value="http://localhost/l/poo" readonly="" placeholder="Long Url" id="copy-url" type="text" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Press Ctrl+C to copy.">
                              <label for="copy-url">Short Url</label>
                              <div class="col s12 right-align">
                                <a href="http://github.com/haisum/urlshortner">http://github.com/haisum/urlshortner</a>
                              </div>
                            </div>
                       </div>
                       <div class="row right-align">
                       </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <h4> Login </h4>
                        <div class="row">
                              <form id="login-form" class="col s12" method="post" action="/login">
                                  <div class="row">
                                      <div class="input-field col s12">
                                         <i class="mdi-content-content-paste prefix"></i>
                                         <input placeholder="Email" name="email" id="email-login" type="text" class="validate">
                                         <label for="email-login">Email</label>
                                      </div>

                                      <div class="input-field col s12">
                                         <i class="mdi-content-content-paste prefix"></i>
                                         <input placeholder="Password" name="password" id="password-login" type="password" class="validate">
                                         <label for="password-login">Password</label>
                                      </div>

                                      <div class="input-field col s12 right-align">
                                        <button class="btn waves-effect waves-light" type="submit" name="action">Login
                                          <i class="mdi-content-send right"></i>
                                        </button>
                                      </div>
                                   </div>
                              </form>
                        </div>
                    </div>
                    <div class="col s6">
                        <h4> Register </h4>
                        <div class="row">
                              <form id="register-form" class="col s12" method="post" action="/register">
                                  <div class="row">
                                      <div class="input-field col s12">
                                         <i class="mdi-content-content-paste prefix"></i>
                                         <input placeholder="Email" name="email" id="email-register" type="text" class="validate">
                                         <label for="email-register">Email</label>
                                      </div>

                                      <div class="input-field col s12">
                                         <i class="mdi-content-content-paste prefix"></i>
                                         <input placeholder="Password" name="password" id="password-register" type="password" class="validate">
                                         <label for="password-register">Password</label>
                                      </div>

                                      <div class="input-field col s12 right-align">
                                        <button class="btn waves-effect waves-light" type="submit" name="action">Register
                                          <i class="mdi-content-send right"></i>
                                        </button>
                                      </div>
                                   </div>
                              </form>
                        </div>
                    </div>
                </div>
                <div class="row  valign-wrapper">
                  <div class="col s6  valign">
                    <h4>Your Urls</h4>
                  </div>
                  <div class="col s6 valign right-align">
                    <form action="/logout" method="post">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Logout
                          <i class="mdi-content-send right"></i>
                        </button>
                    </form>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col s12">
                    <table class="hoverable responsive-table">
                      <thead>
                        <tr>
                            <th data-field="long-url">Long URL</th>
                            <th data-field="created">Created</th>
                            <th data-field="short-url">Short Url</th>
                            <th data-field="clicks">Clicks</th>
                        </tr>
                      </thead>
                      <tbody>
                         <tr>
                           <td><a href="">http://github.com/haisum/somelongurl</a></td>
                           <td>16th May 2010</td>
                           <td><a href="">http://localhost/l/lak7D</a></td>
                           <td>1000</td>
                         </tr>
                         <tr>
                           <td><a href="">http://github.com/haisum/somelongurl</a></td>
                           <td>16th May 2010</td>
                           <td><a href="">http://localhost/l/lak7D</a></td>
                           <td>1000</td>
                         </tr>
                         <tr>
                           <td><a href="">http://github.com/haisum/somelongurl</a></td>
                           <td>16th May 2010</td>
                           <td><a href="">http://localhost/l/lak7D</a></td>
                           <td>1000</td>
                         </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12">
                    <ul class="pagination green">
                      <li class="disabled"><a href="#!"><i class="mdi-navigation-chevron-left"></i></a></li>
                      <li class="active"><a href="#!">1</a></li>
                      <li class="waves-effect"><a href="#!">2</a></li>
                      <li class="waves-effect"><a href="#!">3</a></li>
                      <li class="waves-effect"><a href="#!">4</a></li>
                      <li class="waves-effect"><a href="#!">5</a></li>
                      <li class="waves-effect"><a href="#!"><i class="mdi-navigation-chevron-right"></i></a></li>
                    </ul>
                  </div>
                </div>
            </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="static/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="static/js/vendor/handlebars-v3.0.3.js"></script>
        <script src="static/js/vendor/materialize.min.js"></script>
        <script src="static/js/main.js"></script>

    </body>
</html>
